/* Reset some default styles */
*{
    margin: 0;
    padding: 0;
}
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
html{
    background-color: black;
}
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.align{
    margin-left: 6rem;
    margin-right: 6rem;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    
}

.nav-links {
    display: flex;
    gap: 3rem;
}
.navsocials{
    display: flex;
    align-items: center;
}
.navsocials a{
    color: white;
    display: flex;
    font-size: 1.5rem;
    margin-left: 10px;
    justify-content: right;
    text-decoration: none;
    align-items: center;
}
.navsocials a:hover{
    color: #597a71;
    transition: color .3s ease;
}

.nav-links li a {
    display: flex;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 12px;
    transition: background 0.3s ease;
}

.nav-links li a:hover {
    background-color: #597a71;
    border-radius: 50px;
}




/* ABOUT SECTION */
.about{
    display: flex;
    justify-content: left;
    flex:1;
    align-items: center;
    height: 200vh;
}
.intro h1{
    font-size: 1.5rem;
    font-size: 2rem;
    text-align: left;
    color:white;
    max-width: 700px;
}

.intro p{
    font-size: 1.75rem;
    padding-top: 1rem;
    color:white;
    max-width: 600px;
}
.socials{
    display: flex;
    justify-content: left;
    color: white;
    padding-top: 1rem;
}
.socials a{
    color: white;
    font-size: 1.25rem;
    padding-right: 10px;
    text-decoration: none;
    transition: color .3s ease;
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: 400px;
}
.skills-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.skills i {
    
    padding: 1rem;
}


/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    height: .5rem;
}
footer p{
    color: white;
    margin: 0 10px;
    font-size: .6rem;
    text-decoration: none;
    transition: color .3s ease;
}

/* PROJECT SECTION */
.card{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #101010;
    border-radius: 20px;
    padding: 1.5rem;
    margin-left: 6rem;
    margin-top: 2rem;
    width: 275px;
    height: 400px;
    transition: background .3s ease;
}
.card-description{
    display: flex;
    color: white;
    justify-content: left;
    flex-direction: column;
    text-align: left;
}
.card-description h1{
    font-size: 1.5rem;
    
}
.card-description p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    
}

.card-skills {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.card-skills p {
    background-color: #202020;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem .75rem;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: .75rem;
    line-height: 1rem;
    max-width: 100%;
}

/* MOBILE VIEW */
/* Changes nav bar when screeen is smaller */
@media (min-width: 300px) and (max-width: 480px)  {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .nav-links {
        gap: 1rem;
    }
    .nav-links li a{
        font-size: 1rem;
        padding: 8px 10px;
        transition: background .3s ease;
    }
    .about{
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }
    .about h1{
        font-size: 1.5rem;
        text-align: center;
        margin-left: 0;
    }
    .about p{
        font-size: 1.5rem;
        text-align: center;
        margin: 0 auto;
        padding: 20px;
    }
    .intro{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .socials{
        justify-content: center;
    }
    .align{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

